<div
  *ngIf="
    permissions.permi9gcl == 'lrrX9taf07qNxMs' ||
    permissions.permi9gcl == 'IToGYuj9agiXK2K'
  "
  class="calambombo"
>
  <div
    class="card container mb-4 shadow-lg p-3 co w-50"
    data-aos="fade-right"
    data-aos-duration="900"
  >
    <h3 class="text-center">Registrar Sede</h3>
    <hr />
    <form action="" [formGroup]="myForm" class="form">
      <div class="row">
        <div class="col">
          <div>
            <label for="" class="pa">Nombre sede</label>
            <input
              formControlName="Nombre_sede"
              type="text"
              name="nombre"
              id="nombre"
              class="form-control"
              [(ngModel)]="sede.nombre"
              required
            />
          </div>
          <div class="mt-2">
            <label for="">Cliente</label>
            <select
              formControlName="Cliente"
              [(ngModel)]="sede.cliente"
              name="cliente"
              class="form-select"
              (ngModelChange)="clientesSeleccionados = $event"
            >
              <ng-container *ngFor="let item of clientes">
                <option [value]="item.nombre">
                  {{ item.nombre }}
                </option>
              </ng-container>
            </select>
          </div>
        </div>
      </div>
      <hr class="mt-3" />

      <div class="form-group float-end mt-2 d-flex">
        <button
          class="btn botr btn-sm float-end m-1 d-flex"
          [routerLink]="['/sedes/ver']"
        >
          Regresar
        </button>
        <button
          class="btn bot btn-sm float-end m-1 d-flex"
          (click)="onCreate()"
        >
          Agregar
        </button>
      </div>
    </form>
  </div>
  <br />
</div>
