<div
  *ngIf="
    permissions.permi10gpa == '2nYnNJcWDX3Txwq' ||
    permissions.permi10gpa == 'NY30gidbqABW9K2' ||
    permissions.permi10gpa == 'm7HI003lIchj8FN' ||
    permissions.permi10gpa == 'FlMKuG1RnzRXA2E'
  "
  class="container"
  data-aos="fade-right"
>
  <div class="ms-5">
    <div class="container p-2" data-aos="fade-right">
      <div class="mb-4 mx-1 border-top-0" data-aos="fade-right">
        <h3 class="text-shadow text-uppercase">Parámetros</h3>
      </div>
      <div class="row">
        <div
          *ngIf="
            permissions.permi10gpa == 'm7HI003lIchj8FN' ||
            permissions.permi10gpa == 'FlMKuG1RnzRXA2E'
          "
          class="col-md-6 w-25"
        >
          <button
            class="btn btnAdd mx-1 fs text-white btn-sm"
            [routerLink]="['/parametros/crear']"
            title="Agregar Parámetro"
          >
            <i class="fa-solid fa-clipboard-list fa-lg"></i>
          </button>
        </div>
        <div class="col-md-6 search d-flex">
          <label for="" class="p" style="margin-bottom: 2%; margin-right: 3%"
            ><b>BUSCAR</b></label
          >
          <input
            type="search"
            class="form-control shadow end w-100"
            name="filterPost"
            [(ngModel)]="filterPost"
          />
        </div>
      </div>
      <span class="mt-4 float-end"
        ><strong> Total de Resultados:</strong>
        {{ (parametros | filter : filterPost).length }}
      </span>
    </div>

    <div class="mt-4 mb-2" data-aos="fade-right" data-aos-duration="900">
      <table
        id="table"
        class="table table-sm container bg-white text-center table-responsive shadow-lg"
      >
        <thead class="th">
          <tr>
            <th>Tipo Parámetro</th>
            <th>Valor</th>
            <th>Descripción</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let item of parametros
                | filter : filterPost
                | paginate : { itemsPerPage: 10, currentPage: page }
            "
          >
            <td>{{ item.tipo_parametro }}</td>
            <td>{{ item.valor }}</td>
            <td>{{ item.descripcion }}</td>
            <td
              *ngIf="
                permissions.permi10gpa == 'm7HI003lIchj8FN' ||
                permissions.permi10gpa == 'FlMKuG1RnzRXA2E'
              "
              class="text-uppercase text-center"
            >
              <div class="d-block h">
                <button
                  *ngIf="
                    permissions.permi10gpa == 'm7HI003lIchj8FN' ||
                    permissions.permi10gpa == 'FlMKuG1RnzRXA2E'
                  "
                  class="btn text-uppercase bel text-dark"
                  routerLink="/parametros/editar/{{ item.id }} "
                  title=" Editar"
                >
                  <i class="fa-solid fa-pen-to-square"></i>
                </button>
                <button
                  *ngIf="permissions.permi10gpa == 'FlMKuG1RnzRXA2E'"
                  class="btn mx-1 text-uppercase bel text-dark"
                  title="Eliminar"
                  (click)="borrarParametros(item)"
                >
                  <i class="fa-solid fa-trash"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <pagination-controls
      class="text-center paginacion"
      (pageChange)="page = $event"
      previousLabel="Anterior"
      nextLabel="Siguiente"
    ></pagination-controls>
  </div>
</div>
