.icon {
  margin-right: 5px;
}

.laptop {
  width: 20px;
}

canvas:hover {
  cursor: pointer;
}

.btnAdd {
  background-color: #0f3063;
  color: white;
}

.btnAdd:hover {
  box-shadow: 0 4px 10px #17478f;
  transition: all 0.5s ease;
}

.molecule-container {
  position: relative;
}

i,
h6:hover {
  cursor: pointer;
}
.th {
  background-color: rgb(1, 20, 49);
  color: white;
}
