<div
  *ngIf="
    permissions.permi3mue == 'M3cBVSTaIWHJ1sG' ||
    permissions.permi3mue == 'YACMHArAq0qBl1U' ||
    permissions.permi3mue == 'atbZw0plcoEaucF' ||
    permissions.permi3mue == 'FIaw1HHFHTlpY5B'
  "
  class="calambombo"
>
  <div class="card container bg-dark cont w-50 mt-4" data-aos="fade-right">
    <div class="row">
      <div class="card shadow-lg">
        <div class="card-head">
          <h3 class="text-center">Editar Mueble</h3>
        </div>
        <hr />
        <div class="card-body">
          <form action="" #f="ngForm">
            <div class="row">
              <div class="col">
                <div class="mb-1">
                  <label class="form-label">Código Mueble</label>
                  <input
                    type="text"
                    name="codigo_inmueble"
                    id="codigo_inmueble"
                    class="form-control"
                    [(ngModel)]="muebles.codigo_inmueble"
                    disabled
                    required
                  />
                </div>

                <div class="mb-1">
                  <label for="" class="form-label">Estado</label>
                  <select
                    class="form-select text-uppercase"
                    aria-label="Default select example"
                    name="estado"
                    id="estado"
                    [(ngModel)]="muebles.estado"
                    required
                  >
                    <option *ngFor="let item of estado">{{ item }}</option>
                  </select>
                </div>

                <div class="mb-1">
                  <label for="" class="form-label">Fecha Factura</label>
                  <input
                    type="date"
                    name="fecha_factura"
                    id="fecha_factura"
                    class="form-control"
                    [(ngModel)]="muebles.fecha_factura"
                    (ngModelChange)="updateMinDate()"
                    [min]="minDate"
                    required
                    [max]="currentDate"
                  />
                </div>
                <div class="mb-1">
                  <label for="" class="form-label">N° Factura</label>
                  <input
                    type="text"
                    name="factura"
                    id="factura"
                    class="form-control"
                    [(ngModel)]="muebles.factura"
                    required
                  />
                </div>
              </div>
              <div class="col">
                <div class="mb-1">
                  <label for="" class="form-label">Observación</label>
                  <input
                    type="text"
                    name="observacion"
                    id="observacion"
                    class="form-control"
                    [(ngModel)]="muebles.observacion"
                    required
                  />
                </div>
                <div class="mb-1">
                  <label for="" class="form-label">Precio</label>
                  <input
                    appOnlyNumbers
                    type="text"
                    name="precio"
                    id="precio"
                    class="form-control"
                    [(ngModel)]="muebles.precio"
                    required
                  />
                </div>
                <div class="mb-1">
                  <label for="" class="form-label">Orden</label>
                  <input
                    type="text"
                    name="orden"
                    id="orden"
                    class="form-control"
                    [(ngModel)]="muebles.orden"
                    required
                  />
                </div>
                <div class="mb-1">
                  <label for="" class="form-label">Ruta Archivo</label>
                  <input
                    type="text"
                    name="rutaArchivo"
                    id="rutaArchivo"
                    class="form-control"
                    [(ngModel)]="muebles.rutaArchivo"
                  />
                </div>
                <div
                  *ngIf="permissions.permi3mue == 'FIaw1HHFHTlpY5B'"
                  class="mt-1"
                >
                  <label for="" class="form-label">¿Dar de Baja?</label><br />
                  <select
                    class="form-select text-uppercase"
                    aria-label="Default select example"
                    name="mostrar"
                    id="mostrar"
                    [(ngModel)]="muebles.mostrar"
                    (change)="fileDescartar(muebles.id)"
                    required
                  >
                    <option *ngFor="let item of mostrar">{{ item }}</option>
                  </select>
                </div>
              </div>
              <hr class="linea" />
              <div class="form-group float-end mt-2 d-flex">
                <button
                  class="btn bot btn-sm"
                  (click)="onUpdateMuebles()"
                  [disabled]="f.invalid"
                >
                  Actualizar
                </button>
                <button class="btn botr btn-sm" [routerLink]="['/muebles/ver']">
                  Regresar
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
