<body
  style="
    background-image: url('assets/images/login2.jpg');
    overflow-y: hidden;
    background-size: cover;
    height: 100vh;
    margin-bottom: -10%;
  "
>
  <div
    class="container mt-5"
    style="padding-left: 20%; padding-right: 20%"
    data-aos="fade-up"
    data-aos-duration="1000"
  >
    <div class="d-flex text-center">
      <div class="card">
        <div class="card-header">
          <img
            style="margin-left: auto"
            src="assets/images/nexos-login.png"
            alt=""
            width="70%"
          />

          <h3 class="text-white">¡ Bienvenido !</h3>


        </div>
        <div class="card-body">
          <form action="" #f="ngForm">
            <div class="form-group" style="margin-bottom: 2px">
              <div class="form-group d-flex">
                <span
                  class="input-group-text"
                  style="margin-right: 5%; background-color: red; color: white"
                >
                  <i class="fas fa-user"></i
                ></span>
                <input
                  [(ngModel)]="email"
                  type="text"
                  style="border-radius: 5px"
                  class="form-control w-75"
                  placeholder="Email"
                  id="Email"
                  name="Email"
                />
              </div>
            </div>
            <div style="text-align: center; margin-bottom: 10px">
              <span
                class="mb-1 text-danger field-validation-valid"
                style="font-size: 16px"
              ></span>
            </div>

            <div class="form-group" style="margin-bottom: 2px">
              <div class="form-group d-flex">
                <span
                  class="input-group-text"
                  style="margin-right: 5%; background-color: red; color: white"
                >
                  <i class="fas fa-key"></i>
                </span>

                <input
                  [(ngModel)]="password"
                  [type]="show ? 'text' : 'password'"
                  style="border-radius: 5px"
                  class="form-control input_pass w-75"
                  placeholder="Contraseña"
                  name="Password"
                />
                <!-- Mostrar Contraseña -->
                <a
                  (click)="contrasena()"
                  style="margin-left: 5px; margin-top: 8px"
                >
                  <i id="ver" style="color: white" class="fa fa-eye"></i>
                </a>
              </div>
            </div>
            <div style="text-align: center; margin-bottom: 10px">
              <span
                class="mb-1 text-danger field-validation-valid"
                style="font-size: 16px"
              ></span>
            </div>

            <div>
              <h6 class="text-white btn" (click)="recover()">
                ¿Olvidó su contraseña?
              </h6>
            </div>

            <div>
              <span class="text-danger" style="font-size: 16px"></span>
            </div>

            <div
              class="form-group col-auto justify-content-center"
              style="text-align: center"
            >
              <button
                type="submit"
                name="button"
                class="btn botr btn-sm"
                [disabled]="f.invalid"
                (click)="login()"
              >
                Iniciar Sesión
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
