<div
  id="molecule-container"
  class="molecule-container absolute top-0 left-0 w-full h-full molecule-wrapper"
>
  <div
    class="molecule rounded-full w-2 h-2 bg-purple-500 opacity-50"
    style="animation-delay: 0.1s"
  ></div>
  <div
    class="molecule rounded-full w-2 h-2 bg-purple-500 opacity-50"
    style="animation-delay: 0.1s"
  ></div>
  <div
    class="molecule rounded-full w-2 h-2 bg-purple-500 opacity-50"
    style="animation-delay: 0.1s"
  ></div>
  <div
    class="molecule rounded-full w-2 h-2 bg-purple-500 opacity-50"
    style="animation-delay: 0.1s"
  ></div>
  <div
    class="molecule rounded-full w-2 h-2 bg-purple-500 opacity-50"
    style="animation-delay: 0.1s"
  ></div>
  <div
    class="molecule rounded-full w-2 h-2 bg-purple-500 opacity-50"
    style="animation-delay: 0.1s"
  ></div>
  <div
    class="molecule rounded-full w-2 h-2 bg-purple-500 opacity-50"
    style="animation-delay: 0.1s"
  ></div>
  <div
    class="molecule rounded-full w-2 h-2 bg-purple-500 opacity-50"
    style="animation-delay: 0.1s"
  ></div>
  <div
    class="molecule rounded-full w-2 h-2 bg-purple-500 opacity-50"
    style="animation-delay: 0.1s"
  ></div>
  <div
    class="molecule rounded-full w-2 h-2 bg-purple-500 opacity-50"
    style="animation-delay: 0.1s"
  ></div>
  <div
    class="molecule rounded-full w-2 h-2 bg-purple-500 opacity-50"
    style="animation-delay: 0.1s"
  ></div>
  <div
    class="molecule rounded-full w-2 h-2 bg-purple-500 opacity-50"
    style="animation-delay: 0.1s"
  ></div>
  <div
    class="molecule rounded-full w-2 h-2 bg-purple-500 opacity-50"
    style="animation-delay: 0.1s"
  ></div>
  <div
    class="molecule rounded-full w-2 h-2 bg-purple-500 opacity-50"
    style="animation-delay: 0.1s"
  ></div>
  <div
    class="molecule rounded-full w-2 h-2 bg-purple-500 opacity-50"
    style="animation-delay: 0.1s"
  ></div>
</div>
