.linea {
  margin-top: 5%;
}

.h {
  height: 40px;
  scale: 0.95;
}

.bel {
  background-color: rgb(250, 125, 52);
  color: white;
  height: 40px;
  width: 40px;
  border-radius: 15px;
}

.bel:hover {
  box-shadow: 0 4px 20px rgb(250, 125, 52);
  transition: all 0.2s ease;
}

.fs {
  font-size: 20px;
}

.search {
  margin-left: 50%;
  margin-top: -4%;
}

.btnAdd {
  background-color: #011431;
}

.hidden {
  visibility: hidden;
}

.btnAdd:hover {
  box-shadow: 0 4px 10px #011431;
  transition: all 0.5s ease;
}

.th {
  background-color: #011431;
  color: white;
}

table .table {
  border-right: 1px solid #c9c7c7;
}

td {
  border-right: 1px solid #c9c7c7;
  padding: auto;
}
td:last-child {
  border-right: none;
}
